* {
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}

button {
    cursor: pointer;
}


#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#error-page p, #error-page h1, #error-page i {
    color: black;
}

.root{
    background-image: url("../../assets/bg-art.png");
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login, .home, .register {
    background-image: url("../../assets/bg-art.png");;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.login .mainContent, .register .mainContent {
    flex-direction: column;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.home .mainContent {
    flex-direction: column;
    display: flex;
    height: 100%;
    align-items: center;
    margin-top: 50px;
}

.home .listBox {
    min-height: 600px;
    max-height: 500px;
    overflow: auto;
}

.home .listBox .p-empty {
    margin-bottom: 10px;
    font-size: 20px;
    font-style: italic;
    color: gray;
    width: 100%;
    text-align: center;
}

.root h1 {
    font-size: 75px;
}

.root h3 {
    font-size: 40px;
}

.root button {
    width: 150px;
    height: 35px;
    margin: 5px;
    margin-top: 10px;
    border: solid;
    border-width: 2px;
    background-color: #000000ab;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login .container, .register .container {
    background-color: #000000ab;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    width: 30rem;
    border: solid;
    border-width: thin;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    
}

.login .form, .register .form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.login #email, .register #username, 
.register #email, .register #password{
    margin-bottom: 5px;
}

.login #password, .register #confirmPassword {
    margin-bottom: 20px
}

.login label, .register label {
    margin-bottom: 2px;
}

.login input, .register input, .home .container input {
    height: 32px;
    padding: 5px;
    color: white;
    background-color: #000000ab;
    border: solid;
    border-color: transparent;
    border-bottom-width: 1px;
    border-bottom-color: white;
}

.login input::placeholder, .register input::placeholder,
.home .container input::placeholder{
    color: white;
    opacity: 0.75;
}

.login .button, .register .button {
    display: flex;
    justify-content: center;
}

.login button, .register button {
    background-color: white;
    color: black;
    height: 42px;
    width: 80%;
    border: solid;
    border-color: rgba(255, 255, 255, 0.075);
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login button:hover, .root button:hover, .register button:hover{
    background-color: #d6d6d6;
}

.login input:-webkit-autofill, .login input:-webkit-autofill:hover,
.login input:-webkit-autofill:focus, .login input:-webkit-autofill:active,
.register input:-webkit-autofill, .register input:-webkit-autofill:hover,
.register input:-webkit-autofill:focus, .register input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    box-shadow: inset 0 0 20px 20px #23232329;
    border: solid;
    border-color: #23232329;
    border-bottom-width: 1px;
    border-bottom-color: whitesmoke;
}

.login h1, .register h1 {
    font-size: 32px;
}

.login h2, .register h2 {
    margin-bottom: 10px;
}

.NavBar {
    display: flex;
    align-items: center;
    background-color: #000000ab;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom-color: whitesmoke;
    border-width: thin;
    backdrop-filter: blur(10px);
}

.NavBar .link {
    margin-right: 15px;
}

.NavBar h1 {
    font-size: 32px;
    margin-left: 5px;
    margin-right: 5px;
}

.NavBar .PenToSquare {
    margin-right: 20px;
}

.NavBar .CircleUser {
    margin-right: 5px;
    color: black;
}

.Authenticate .username {
    margin-right: 20px;
}

.Authenticate button {
    background-color: whitesmoke;
    color: black;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    height: 30px;
    width: 100px;
    border: none;
    margin-right: 10px;
    border-radius: 25px;
}

.Authenticate button:hover, .home .container button:hover {
    background-color: #d6d6d6;
}

.Authenticate {
    display: flex;
    align-items: center;
}

.home .modal-container {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 1;
}

.home .modal {
    background-color: #850c3f;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
}

.home .container{
    background-color: #000000ab;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    width: 80%;
    border: solid;
    border-width: thin;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.home .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.home .list-select {
    cursor: pointer;
    font-size: 40px;
    background-color: #000000ab;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: transparent;
    border-radius: 15px;
}

.home .list-select-option {
    cursor: pointer;
}

.home .form {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.home input {
    width: 100%;
}

.home .container button {
    cursor: pointer;
    width: 100px;
    background-color: whitesmoke;
    border: transparent;
    margin-left: 5px;
    color: black;
    font-size: 14px;
}

.ToDo {
    display: flex;
    margin-bottom: 10px;
    background-color: #000000ab;
    height: 45px;
    align-items: center;
}

.ToDo div {
    margin-left: auto;
    margin-right: 0px;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ToDo .faTrash {
    cursor: pointer;
    margin-left: 10px;
}

.ToDo .faEdit {
    cursor: pointer;
    margin-left: 10px;
}

.ToDo .faCheck {
    cursor: pointer;
    margin-left: 10px;
}

.ToDo p {
    font-size: 20px;
    margin-left: 10px;
}

.ToDo .completed{
    font-size: 24px;
    margin-left: 10px;
    text-decoration: line-through;
    color: #000000ab
}

.ToDo .incomplete{
    font-size: 24px;
    margin-left: 10px;
}

.home .modal h1 {
    margin-bottom: 30px;
}

.home .modal section {
    background-color: #00000071;
    padding: 30px 30px;
    margin: 10px;
    border-radius: 15px;
}

.home .modal label {
    font-size: 20px;
}

.home .modal .add-new-list div, .home .remove-list div,
.home .edit-list-name div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.home .modal .add-new-list input, .home .modal .edit-list-name input {
    height: 20px;
    width: 100%;
    padding: 5px;
    color: white;
    background-color: #000000ab;
    border: solid;
    border-color: transparent;
    border-bottom-width: 1px;
    border-bottom-color: white;
} 

.home .modal .add-new-list button, .home .modal .edit-list-name button {
    cursor: pointer;
    width: 100px;
    background-color: whitesmoke;
    border: transparent;
    margin-left: 5px;
    color: black;
    font-size: 14px;
}

.home .remove-list .remove-select {
    cursor: pointer;
    font-size: 20px;
    background-color: #000000ab;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: transparent;
    border-radius: 5px;
    width: 100%;
}

.home .remove-list button {
    cursor: pointer;
    width: 100px;
    background-color: whitesmoke;
    border: transparent;
    margin-left: 5px;
    color: black;
    font-size: 14px;
}


.home .edit-list-name select {
    cursor: pointer;
    font-size: 20px;
    background-color: #000000ab;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: transparent;
    border-radius: 5px;
    width: 100%;
}

.home #close {
    background-color: whitesmoke;
    color: black;
    width: 50%;
    height: 32px;
    border-radius: 5px;
}

.home .button-container {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}








